@tailwind base;
@tailwind components;
@tailwind utilities;


.font-header { 
    font-family: 'Solomon', sans-serif; 
    letter-spacing: -0.02em; 
}

.font-body { 
    font-family: 'Times New Roman MT', serif; 
}

.organic-shape { 
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; 
}

.hide-scroll-bar::-webkit-scrollbar { 
    display: none; 
}
.hide-scroll-bar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}